
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center; background-image:repeating-linear-gradient()">
      <h2>Đặt hàng thành công</h2>
    <h4>Đơn hàng của bạn đã được cửa hàng ghi nhận và sẽ được chuyển đến từ 3 - 4 ngày.</h4>
    <h1 style="color:indianred">CẢM ƠN BẠN ĐÃ ỦNG HỘ</h1>
    <a href="@Url.Action("Index_Customers", "Product")">Tiếp tục mua hàng...</a>
</body>
</html>
