@using Web_BanHang.Models
@model List<Category>
    <style>
        #div-u {
            padding-top: 3px;
            display:flex;   
            background-color: lightcoral;
            text-decoration: none;
            /*margin-top: 5px;*/
        }
        .div-cate{
            height:30px;
            width:100%;
        }
        a{
            color:#a94442;
            text-decoration:none;
            font-size:20px;
            text-align: center;
        }
        a:hover{
            text-decoration:none;
        }
        /*Them*/
        ul#div-u{
            height: 20px;
            width: 1500px;
            background-color:darksalmon;
            text-align: center;
        }
            #div-u .div-cate a {
                color: black;
                padding-top: 0px;
                color: black;
                font-size: 20px;
                border:2px solid black;
                padding-left:50px;
                padding-right:50px;
                background-color: darksalmon;
                border-radius:10px;         
            }
            
    </style>
<ul style="list-style-type:none" id="div-u">
    @{ 
        foreach(var item in Model)
            {
                <li class="div-cate">
                    @Html.ActionLink(item.NameCate, "Index_Customers", "Product", new {category = item.IDCate.Trim()},"")
                </li>
                <hr/>
            }
    }
</ul>

