@model IEnumerable<Web_BanHang.Models.Product>

@{
    ViewBag.Title = "SearchOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #div-ds {
        text-align: center;
        background-color: lightcoral;
        height: 50px;
        border-radius: 20px 20px 0 0;
    }
</style>

@using (Html.BeginForm("SearchOption", "Product"))
{
<div style="text-align: center;">
    <div style="text-align: center;">
     
        <text>Từ</text>
        <input type="number" name="min" />
        <text>Đến</text>
        <input type="number" name="max" />
        <input type="submit" value="Search" />
    </div>
    <div id="div-ds"><h2 style="padding-top: 5px; color:white">Danh sách sản phẩm</h2></div>
    <div class="container">
        <div class="row">
            @foreach (var pro in Model)
            {
                <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-pro">
                        @*<p>@Html.DisplayFor(model => pro.ProductID)</p>*@
                        <img src="@Url.Content(pro.ImagePro)" height="150" width="150" />
                        <p>@Html.DisplayFor(model => pro.NamePro)</p>
                        <p>@Html.DisplayFor(model => pro.Price)</p>
                        <a href="/ShoppingCart/AddToCart/@pro.ProductID" class="btn btn-default">Buy</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
}


